MONGO_USERNAME=devportal
MONGO_PASSWORD=devportal
MONGO_DATABASE=devportal
MONGO_URI=mongodb://devportal:devportal@localhost:27017/devportal?authSource=admin
REDIS_URL=redis://localhost:6379
AWS_ENDPOINT=http://localhost:4566
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
S3_BUCKET=devportal-attachments
SQS_QUEUE_URL=http://localhost:4566/000000000000/devportal-requests
