# Variáveis de ambiente
.env

# Volumes Docker
mongodata/
data/

# Logs
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDEs
.idea/
.vscode/
*.iml

# Arquivos temporários
tmp/
temp/
